.screening-page{

margin-left:260px;
margin-top:80px;
padding:30px;
background:#f5f5f5;
min-height:100vh;

}

.screening-page h2{

color:#D71945;
margin-bottom:25px;

}

.screening-form{

display:grid;
grid-template-columns:repeat(2,1fr);
gap:20px;

background:white;
padding:25px;
border-radius:12px;
box-shadow:0 4px 10px rgba(0,0,0,.08);

}

.screening-form input{

padding:14px;
border:1px solid #ddd;
border-radius:8px;

}

.screening-form button{

grid-column:span 2;

background:#D71945;
color:white;
padding:15px;
border:none;
border-radius:8px;
cursor:pointer;

}

.result-table{

margin-top:30px;
background:white;
padding:20px;
border-radius:12px;

}

table{

width:100%;
border-collapse:collapse;

}

th{

background:#D71945;
color:white;
padding:15px;

}

td{

padding:14px;
border-bottom:1px solid #eee;

}

.low{

color:green;
font-weight:bold;

}

.medium{

color:orange;
font-weight:bold;

}

.high{

color:red;
font-weight:bold;

}