/* ==========================
   Sidebar
========================== */

.sidebar {
    width: 260px;
    height: 100vh;
    background: #D71945;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 3px 0 15px rgba(0, 0, 0, 0.2);
}

/* ==========================
   Logo
========================== */

.sidebar-logo{

    text-align:center;

    padding:16px 15px;

    border-bottom:1px solid rgba(255,255,255,.15);

}

.company-logo{

    width:70px;

    height:70px;

    object-fit:contain;

    background:white;

    border-radius:50%;

    padding:6px;

    margin-bottom:10px;

    box-shadow:0 5px 15px rgba(0,0,0,.25);

}

.sidebar-logo h2{

    font-size:19px;

    margin-bottom:2px;

    letter-spacing:1px;

}

.sidebar-logo span{

    font-size:12px;

    opacity:.85;

}

/* ==========================
   Menu
========================== */

.sidebar ul {
    list-style: none;
    padding: 12px 0;
    margin: 0;
    flex: 1;
}

.sidebar li {
    margin: 0;
}

/* Navigation Link */

.nav-link {
    display: flex;
    align-items: center;
    gap: 12px;

    width: 100%;

    padding: 12px 25px;

    text-decoration: none;
    color: white;

    font-size: 14px;

    transition: 0.3s;
}

/* Hover */

.nav-link:hover {
    background: #B3123A;
}

/* Active Page */

.nav-link.active {
    background: white;
    color: #D71945;
    font-weight: bold;
    border-left: 6px solid #F7C948;
}

/* Icons */

.nav-link svg {
    font-size: 16px;
    min-width: 18px;
}

/* ==========================
   Logout
========================== */

.logout {
    display: flex;
    align-items: center;
    gap: 12px;

    padding: 14px 25px;

    background: #B3123A;

    cursor: pointer;

    font-size: 14px;

    transition: 0.3s;
}

.logout:hover {
    background: #8F0F2D;
}

/* ==========================
   Scrollbar (Optional)
========================== */

.sidebar::-webkit-scrollbar {
    width: 6px;
}

.sidebar::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.3);
    border-radius: 10px;
}